<h1>Hi {{ currentUser.email }} !</h1>
<hr />
<p class="lead">You're logged in BlueApp</p>
<button class="btn btn-primary" (click)="onAddUser()">
  Add User
</button>
<hr />
<h3>All users:</h3>
<table class="table table-bordered">
  <thead class="thead-dark">
    <th scope="col">#</th>
    <th scope="col">First</th>
    <th scope="col">Last</th>
    <th scope="col">Email</th>
    <th scope="col">Groups</th>
    <th scope="col">Actions</th>
  </thead>
  <tbody *ngFor="let user of users">
    <th class="align-middle" scope="row">{{ user.id }}</th>
    <td class="align-middle">{{ user.firstname }}</td>
    <td class="align-middle">{{ user.lastname }}</td>
    <td class="align-middle">{{ user.email }}</td>
    <td class="align-middle">{{ user.group }}</td>
    <td>
      <button
        (click)="openConfirmationDialog(user.email, user.role)"
        class="btn btn-danger mb-2"
        [disabled]="
          user.role === 'ROLE_ADMIN' || user.email === this.currentUser.email
        "
      >
        Delete
      </button>
      <app-add-to-group
        [isDisabled]="currentUser.role !== 'ROLE_ADMIN'"
        [userEmail]="user.email"
      ></app-add-to-group>
    </td>
  </tbody>
</table>
