<h1>Hi {{ currentUser.email }} !</h1>
<hr />
<p class="lead">You're logged in BlueApp</p>
<h3>All users:</h3>
<table class="table table-bordered">
  <thead class="thead-dark">
    <th scope="col">#</th>
    <th scope="col">First</th>
    <th scope="col">Last</th>
    <th scope="col">Email</th>
    <th scope="col">Roles</th>
    <th scope="col">Actions</th>
  </thead>
  <tbody *ngFor="let user of users">
    <th class="align-middle" scope="row">{{ user.id }}</th>
    <td class="align-middle">{{ user.firstname }}</td>
    <td class="align-middle">{{ user.lastname }}</td>
    <td class="align-middle">{{ user.email }}</td>
    <td class="align-middle">{{ user.roles }}</td>
    <td>
      <button
        (click)="deleteUser(user.email, user.roles)"
        class="btn btn-danger"
        [disabled]="
          user.roles === 'ROLE_ADMIN' || user.email === this.currentUser.email
        "
      >
        Delete
      </button>
    </td>
  </tbody>
</table>
